html, body {
    background-color: black;
    height: 90%;
}

.topnav {
    background-color: black;
    width: 100%;
    height: 10%;
}

.sidenav {
    background-color: black;
    float: left;
    height:100%;
    width:10%;
    color:white;
}

.sidenav a {
    color:gray;
}

.content {
    padding: 15px;
    background-color: rgb(83, 83, 83);
    color: white;
    float: right;
    width: 85%;
    padding-left: 20px;
}

.footer {
    position:fixed;
    right:0;
    bottom:0;
}

.footer a {
    color: white;
}

.pgtitle {
    font-size: 18px;
}