<!DOCTYPE html>
<html>

<head>
    <title>{{ page.title }} - Space Catalogue 1.0 Exoplanet Viewer BETA</title>
</head>

<body bgcolor="#000000" text="#FFFFFF" link="#5A5D63" alink="#5A5D63" vlink="#5A5D63">
    <ul style="width: 800px;">
        <h2>{{ page.title }} - solar system</h2>
        <hr>
        <p><a href="#">Milky way</a>&nbsp;&nbsp;<&nbsp;&nbsp;{{ page.title }}</p>
                <hr>
                <div style="width: 600px; height: 360px; background-color: black;">
                    <a href="{{ page.star1name }}.html" target="info"> <img src="/img/{{ page.star1type }}.png"></a>&nbsp;&nbsp;
                    {% if page.planet1name %}
                    <a href="{{ page.planet1name }}.html" target="info"> <img src="/img/{{ page.planet1type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet2name %}
                    <a href="{{ page.planet2name }}.html" target="info"> <img src="/img/{{ page.planet2type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet3name %}
                    <a href="{{ page.planet3name }}.html" target="info"> <img src="/img/{{ page.planet3type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet4name %}
                    <a href="{{ page.planet4name }}.html" target="info"> <img src="/img/{{ page.planet4type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet5name %}
                    <a href="{{ page.planet5name }}.html" target="info"> <img src="/img/{{ page.planet5type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet6name %}
                    <a href="{{ page.planet6name }}.html" target="info"> <img src="/img/{{ page.planet6type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet7name %}
                    <a href="{{ page.planet7name }}.html" target="info"> <img src="/img/{{ page.planet7type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet8name %}
                    <a href="{{ page.planet8name }}.html" target="info"> <img src="/img/{{ page.planet8type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                    {% if page.planet9name %}
                    <a href="{{ page.planet9name }}.html" target="info"> <img src="/img/{{ page.planet9type }}.png"></a>&nbsp;&nbsp;
                    {% endif %}
                </div>
                <em>Click on an object to get information about it. Note that the size does not equal reality.</em>
                <!-- <br> <iframe src="{{ page.star1name }}.html" name="info"></iframe> -->
                <br><br>
                <hr>
                <footer>Space Catalogue is (c) <a href="https://dejvoss.cz">DEJVOSS</a> 2021 - 2022</footer>
    </ul>
</body>

</html>