<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>

<head>
    <title>Space Catalogue</title>
    <meta http-equiv="Content-Type" content="text/html; charset=windows-1252" />
    <link rel="stylesheet" type="text/css" href="new.css" />

</head>

<body>

    <center>
        <table border="0" cellpadding="0" cellspacing="0" width="1500">
            <tr>
                <td width="75" class="content" valign="top">
                    <center>
                        <br>
                        <a class="left" href="/" target="_top"><b>HOME</b></a><br>
                        <br>
                        <b>Website</b><br>
                        <a class="left" target="_top" href="news.html">News</a><br>
                        <a class="left" target="_top" href="changelog.html">Changelog<br></a>
                        <br>
                        <b>Solar System</b><br>
                        <a class="left" target="_top" href="solar/sun/">The Sun</a><br>
                        <a class="left" target="_top" href="solar/planet/">Planets</a><br>
                        <a class="left" target="_top" href="solar/asteroid/">Asteroids</a><br>
                        <a class="left" target="_top" href="solar/comet/">Comets</a><br>
                    </center>
                </td>
                <td width="490" valign="top">
                    <table width="100%" bgcolor="#FFFFFF" border="1" cellpadding="7" cellspacing="0">
                        <tr>
                            <td>
                                <center>
                                    <img src="http://space.dejvoss.cz/logo.png">
                                </center>
                                <h1>Welcome to the Space Catalogue!</h1>
                                <hr>

                                <h2>What is Space Catalogue?</h2>
                                <p>This site is an attempt at cataloging all space objects: planets, stars, nebulae,
                                    galaxies, asteroids, etc..<br>The website is still very work in progress.</p>
                                <hr>

                                <h2>Latest news from the developers:</h2>

                                <h3>I'm back after a month break!</h3>
                                <p>
                                    Posted by Admin on <em>20.01.2022</em><br>
                                    Going to be reformatting the solar system section to make it at least somewhat solid
                                    soon-ish. Probably tomorrow. =)
                                </p>

                                <h3>Figuring stuff out.</h3>
                                <p>
                                    Posted by Admin on <em>23.12.2021</em><br>
                                    Trying to figure out how the entire website will be layed out. So far, all I know is
                                    that solar system objects will be in /solar-system/, fairly simple! However with
                                    stuff like galaxies, I don't know how the folders will work. Maybe I'm just getting
                                    ahead of myself and should instead work on the solar system objects....
                                </p>

                                <h3>Solar system section is being worked on.</h3>
                                <p>
                                    Posted by Admin on <em>19.12.2021</em><br>
                                    So far I've added names of the planets, and I'm finishing some formatting stuff like
                                    the infobox seen on Earth's page!
                                </p>

                                <h3>The site is up!</h3>
                                <p>
                                    Posted by Admin on <em>19.12.2021</em><br>
                                    The site is very bare bones so far, and is still work in progress.
                                </p>
                                <hr>

                                <p>
                                    <center>
                                        <a href="/copyright.html">Copyright 2022</a> DEJVOSS Productions / Codex Ipsa.
                                        All Rights Reserved.
                                    </center>
                                </p>

                            </td>
                        </tr>
                    </table>
                </td>
                <td width="75" class="content" align="center" valign="top">

                    <table border="0" width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0">
                        <tr>
                            <td align="center" class="right">
                                <br>

                                <img src="https://www.webdesignmuseum.org/uploaded/exhibitions/web-banners-in-the-90s/internet-explorer-1996.gif"/>
                                <br><br>
                                <img src="https://www.webdesignmuseum.org/uploaded/exhibitions/web-banners-in-the-90s/netscape-1996.gif"/>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </center>

</body>

</html>